.writing-animation {
  animation: writing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
  font-size: 2em;
  &.-xsmall {
    width: 17ch;
  }
  &.-medium {
    width: 23ch;
  }
}

@keyframes writing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.text-fadein {
  animation-name: fadeInOut;
  animation-delay: 8.5s;
  animation-duration: 9s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
